@model bacit_dotnet.MVC.Models.ServiceOrdre.ChecklistViewModel

@{
    ViewData["Title"] = "Checklist";
}
<link rel="stylesheet" href="~/css/ServiceOrder/Checklist.css" />
<script src="~/js/Form.js"></script>

<h1>Checklist</h1>

<<<<<<< HEAD
<form asp-action="Checklist" method="post" name="Mekanisk">
    <table class="table">
        <thead>
            <tr>
                <th id="Mekanisk">Mekanisk</th>
                <th id="OK">OK</th>
                <th id="BorSkiftes">Bør Skiftes</th>
                <th id="Defekt">Defekt</th>
            </tr>
        </thead>
=======
<table class="table">
    <thead>
        <tr>
            <th id="Mekanisk">Mekanisk</th>
            <th id="OK">OK</th>
            <th id="BorSkiftes">Bør Skiftes</th>
            <th id="Defekt">Defekt</th> 
        </tr>
    </thead>
 </table>
>>>>>>> 87056fac16ae6a98972b109b06b80ace4651c75c

        <tbody>
            <tr id="item">
                <td id="Mekanisk">Sjekk Crutch lameller for slitasje</td>
                <td id="OK"><input type="radio" value="OK" name="mekanisk1" /></td>
                <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="mekanisk1" /></td>
                <td id="Defekt"><input type="radio" value="Defekt" name="mekanisk1" /></td>
            </tr>

            <tr id="item">
                <td id="Mekanisk">Sjekk bremser, bånd og pal</td>
                <td id="OK"><input type="radio" value="OK" name="mekanisk2" /></td>
                <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="mekanisk2" /></td>
                <td id="Defekt"><input type="radio" value="Defekt" name="mekanisk2" /></td>
            </tr>

            <tr id="item">
                <td id="Mekanisk">Sjekk lager for trommel</td>
                <td id="OK"><input type="radio" value="OK" name="mekanisk3" /></td>
                <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="mekanisk3" /></td>
                <td id="Defekt"><input type="radio" value="Defekt" name="mekanisk3" /></td>
            </tr>

            <tr id="item">
                <td id="Mekanisk">Sjekk PTO og opplagring</td>
                <td id="OK"><input type="radio" value="OK" name="mekanisk4" /></td>
                <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="mekanisk4" /></td>
                <td id="Defekt"><input type="radio" value="Defekt" name="mekanisk4" /></td>
            </tr>

            <tr id="item">
                <td id="Mekanisk">Sjekk wire</td>
                <td id="OK"><input type="radio" value="OK" name="mekanisk5" /></td>
                <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="mekanisk5" /></td>
                <td id="Defekt"><input type="radio" value="Defekt" name="mekanisk5" /></td>
            </tr>

            <tr id="item">
                <td id="Mekanisk">Sjekk pinion lager</td>
                <td id="OK"><input type="radio" value="OK" name="mekanisk6" /></td>
                <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="mekanisk6" /></td>
                <td id="Defekt"><input type="radio" value="Defekt" name="mekanisk6" /></td>
            </tr>

            <tr id="item">
                <td id="Mekanisk">Sjekk kile på kjedehjul</td>
                <td id="OK"><input type="radio" value="OK" name="mekanisk7" /></td>
                <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="mekanisk7" /></td>
                <td id="Defekt"><input type="radio" value="Defekt" name="mekanisk7" /></td>
            </tr>
        </tbody>
    </table>
</form>
<br />


<table class="table">
    <thead>
        <tr>
            <th id="Hydraulikk">Hydraulikk</th>
            <th id="OK">OK</th>
            <th id="BorSkiftes">Bør Skiftes</th>
            <th id="Defekt">Defekt</th>
        </tr>
    </thead>

    <tbody>
        <tr id="item">
            <td id="Hydraulikk">1</td>
            <td id="OK"><input type="radio" value="OK" name="hydraulikk1" /></td>
            <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="hydraulikk1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="hydraulikk1" /></td>
        </tr>
        <tr id="item">
            <td id="Hydraulikk">2</td>
            <td id="OK"><input type="radio" value="OK" name="hydraulikk1" /></td>
            <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="hydraulikk1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="hydraulikk1" /></td>
        </tr>
        <tr id="item">
            <td id="Hydraulikk">3</td>
            <td id="OK"><input type="radio" value="OK" name="hydraulikk1" /></td>
            <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="hydraulikk1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="hydraulikk1" /></td>
        </tr>
        <tr id="item">
            <td id="Hydraulikk">4</td>
            <td id="OK"><input type="radio" value="OK" name="hydraulikk1" /></td>
            <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="hydraulikk1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="hydraulikk1" /></td>
        </tr>
        <tr id="item">
            <td id="Hydraulikk">5</td>
            <td id="OK"><input type="radio" value="OK" name="hydraulikk1" /></td>
            <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="hydraulikk1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="hydraulikk1" /></td>
        </tr>
        <tr id="item">
            <td id="Hydraulikk">6</td>
            <td id="OK"><input type="radio" value="OK" name="hydraulikk1" /></td>
            <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="hydraulikk1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="hydraulikk1" /></td>
        </tr>
        <tr id="item">
            <td id="Hydraulikk">7</td>
            <td id="OK"><input type="radio" value="OK" name="hydraulikk1" /></td>
            <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="hydraulikk1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="hydraulikk1" /></td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th id="Elektro">Elektro</th>
            <th id="OK">OK</th>
            <th id="BorSkiftes">Bør Skiftes</th>
            <th id="Defekt">Defekt</th>
        </tr>
    </thead>
    <tbody>
        <tr id="item">
            <td id="Elektro">1</td>
            <td id="OK"><input type="radio" value="OK" name="elektro1" /></td>
            <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="elektro1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="elektro1" /></td>
        </tr>
        <tr id="item">
            <td id="Elektro">2</td>
            <td id="OK"><input type="radio" value="OK" name="elektro1" /></td>
            <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="elektro1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="elektro1" /></td>
        </tr>
        <tr id="item">
            <td id="Elektro">3</td>
            <td id="OK"><input type="radio" value="OK" name="elektro1" /></td>
            <td id="BorSkiftes"><input type="radio" value="BorSkiftes" name="elektro1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="elektro1" /></td>
        </tr>
    </tbody>
</table>



<table class="table">
    <thead>
        <tr>
            <th id="Trykksettinger">Trykksettinger</th>
            <th id="OK">OK</th>
            <th id="BorSkiftes">Bør Skiftes</th>
            <th id="Defekt">Defekt</th>
        </tr>
    </thead>
    <tbody>
        <tr id="item">
            <td id="Trykksettinger">1</td>
            <td id="OK"><input type="radio" value="OK" name="XXBar1" /></td>
            <td id="BorSkiftes"><input type="radio" value="BørSkiftes" name="XXBar1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="XXBar1" /></td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th id="Funksjonstest">Funksjonstest</th>
            <th id="OK">OK</th>
            <th id="BorSkiftes">Bør Skiftes</th>
            <th id="Defekt">Defekt</th>
        </tr>
    </thead>
    <tbody>
        <tr id="item">
            <td id="Funksjonstest">1</td>
            <td id="OK"><input type="radio" value="OK" name="funksjonstest1" /></td>
            <td id="BorSkiftes"><input type="radio" value="Bør Skiftes" name="funksjonstest1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="funksjonstest1" /></td>
        </tr>
        <tr id="item">
            <td id="Funksjonstest">2</td>
            <td id="OK"><input type="radio" value="OK" name="funksjonstest1" /></td>
            <td id="BorSkiftes"><input type="radio" value="Bør Skiftes" name="funksjonstest1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="funksjonstest1" /></td>
        </tr>
        <tr id="item">
            <td id="Funksjonstest">3</td>
            <td id="OK"><input type="radio" value="OK" name="funksjonstest1" /></td>
            <td id="BorSkiftes"><input type="radio" value="Bør Skiftes" name="funksjonstest1" /></td>
            <td id="Defekt"><input type="radio" value="Defekt" name="funksjonstest1" /></td>
        </tr>
    </tbody>
</table>

<button type="submit" class="btn btn-primary" onclick="submitForms()">Submit</button>

@if (Model != null)
{
    foreach (var item in Model.checklist)
    {
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                Sjekk Crutch lameller for slitasje
            </dt>
            <dd class="col-sm-5">
                @item.mekanisk1
            </dd>
            <dt class="col-sm-4">
                Sjekk bremser, bånd og pal
            </dt>
            <dd class="col-sm-10">
                @item.mekanisk2
            </dd>
            <dt class="col-sm-4">
                3
            </dt>
            <dd class="col-sm-10">
                @item.mekanisk3
            </dd>
            <dt class="col-sm-4">
                4
            </dt>
            <dd class="col-sm-10">
                @item.mekanisk4
            </dd>
            <dt class="col-sm-4">
                5
            </dt>
            <dd class="col-sm-10">
                @item.mekanisk5
            </dd>
            <dt class="col-sm-4">
                6
            </dt>
            <dd class="col-sm-10">
                @item.mekanisk6
            </dd>
            <dt class="col-sm-4">
                7
            </dt>
            <dd class="col-sm-10">
                @item.mekanisk7
            </dd>
            <dt class="col-sm-4">
                8
            </dt>
            <dd class="col-sm-10">
                @item.mekanisk8
            </dd>
            <dt class="col-sm-4">
                1
            </dt>
            <dd class="col-sm-10">
                @item.hydraulikk1
            </dd>
            <dt class="col-sm-4">
                2
            </dt>
            <dd class="col-sm-10">
                @item.hydraulikk2
            </dd>
            <dt class="col-sm-4">
                3
            </dt>
            <dd class="col-sm-10">
                @item.hydraulikk3
            </dd>
            <dt class="col-sm-4">
                4
            </dt>
            <dd class="col-sm-10">
                @item.hydraulikk4
            </dd>
            <dt class="col-sm-4">
                5
            </dt>
            <dd class="col-sm-10">
                @item.hydraulikk5
            </dd>
            <dt class="col-sm-4">
                6
            </dt>
            <dd class="col-sm-10">
                @item.hydraulikk6
            </dd>
            <dt class="col-sm-4">
                7
            </dt>
            <dd class="col-sm-10">
                @item.hydraulikk7
            </dd>

            <dt class="col-sm-4">
                1
            </dt>
            <dd class="col-sm-10">
                @item.elektro1
            </dd>
            <dt class="col-sm-4">
                2
            </dt>
            <dd class="col-sm-10">
                @item.elektro2
            </dd>
            <dt class="col-sm-4">
                3
            </dt>
            <dd class="col-sm-10">
                @item.elektro3
            </dd>
            <dt class="col-sm-4">
                1
            </dt>
            <dd class="col-sm-10">
                @item.XXBar1
            </dd>
            <dt class="col-sm-4">
                1
            </dt>
            <dd class="col-sm-10">
                @item.funksjonstest1
            </dd>
            <dt class="col-sm-4">
                2
            </dt>
            <dd class="col-sm-10">
                @item.funksjonstest2
            </dd>
            <dt class="col-sm-4">
                3
            </dt>
            <dd class="col-sm-10">
                @item.funksjonstest3
            </dd>
        </dl>
    }
}