@model bacit_dotnet.MVC.Models.ServiceOrdre.ServiceOrderViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Slett serviceordre</h1>

<p>Ønsker du å slette serviceordre: @Html.DisplayFor(model => model.OrderId) ?</p> 
<hr />

<table class="table">
<thead>
    <tr>
        <th>
            Ordre ID
        </th>
        <th>
            Navn
        </th>
        <th>
            Telefonnummer
        </th>
        <th>
            Produkttype
        </th>
        <th>
            Reperasjonsbeskrivelse
        </th>
    </tr>
</thead>

<tbody>
    <tr>
        <td>
            @Html.DisplayFor(model => model.OrderId)
        </td>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => model.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(model => model.ProductType)
        </td>
        <td>
            @Html.DisplayFor(model => model.ReperationDescription)
        </td>
    </tr>
</tbody>
</table>

<div>
    <form method="post" asp-action="Delete" asp-route-id="@Model.OrderId">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Slett</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}