@model bacit_dotnet.MVC.Models.ServiceOrdre.ServiceOrderViewModel
<h1>Oversikt</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Ordre ID
            </th>
            <th>
                Navn
            </th>
            <th>
                Telefonnummer
            </th>
            <th>
                Produkttype
            </th>
            <th>
                Reperasjonsbeskrivelse
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
              <tr>
                <td>
                    @Html.DisplayFor(model => model.OrderId)
                </td>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
                <td>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ProductType)
                </td>
            <td>
                @Html.DisplayFor(model => model.ReperationDescription)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-itemid="@Model.OrderId">Rediger</a> |
                    <a asp-action="Details" asp-route-itemid="@Model.OrderId">Detaljer</a> |
                    <a asp-action="Delete" asp-route-itemid="@Model.OrderId">Slett</a>
                </td>   
            </tr>  
    </tbody>
</table>
