@model bacit_dotnet.MVC.Models.ServiceOrdre.ServiceOrderViewModel
<h1>Oversikt</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Ordre ID
            </th>
            <th>
                Navn
            </th>
            <th>
                Telefonnummer
            </th>
            <th>
                Produkttype
            </th>
            <th>
                Reperasjonsbeskrivelse
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>

        @foreach (var order in Model.ServiceOrders)
        {
              <tr>
                <td>@order.OrderId</td>
                <td>@order.FirstName @order.LastName</td>
                <td>@order.PhoneNumber</td>
                <td>@order.ProductType</td>
                <td>@order.ReperationDescription</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@order.OrderId">Rediger</a> 
                    <a asp-action="Details" asp-route-id="@order.OrderId">Detaljer</a> 
                    <a asp-action="Delete" asp-route-id="@order.OrderId">Slett</a>
                </td>   
            </tr>  
            }
    </tbody>
</table>
